

.header-logo{
    background: rgb(49, 49, 49);
    height: 5rem;
    
}
































































/* Page footer */
#footer{
display: flex;
margin-bottom: 0%;
margin-top: 100%;
background-color: gray;
}

/* Main image of the footer */

#main-logo{
display: block;
margin:auto;

}